
/*Font style */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--first-color);
    font-family: "Roboto", "san-serif";
}

img,
video {
    height: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
button {
    cursor: pointer;
}

input {
    outline: none;
}

