.top-six {
    overflow: hidden;
    background-color: hsl(200, 33%, 20%);
    color: #fff;
}

.top-six>h3 {
    padding: 20px 3%;
    color: #fff;
    text-align: center;
    font-size: 25px;
}

.top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 30px 0 50px;
}

.top-img {
    width: 200px;
    transition: 0.3s;
    filter: brightness(80%);
}

.top-img:hover {
  transform: scale(1.1);
}
