.scrollTop {
    margin: 0 3%;
    position: fixed;
    bottom: 20px;
    right: 15px;
    color: #fff;
}


.scroll-btn {
    cursor: pointer;
    font-size: 35px;
    padding: 7px;
    background-color: hsl(193, 88%, 36%);
}